/* AboutMe.css */
.about-me {
background-color: #fff;
  color: black;
  padding: 50px;
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}


.about-me h2{
  color: #8f7451;
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 25px;
  line-height: 1;
}

.info-box {
  
  padding: 20px;
  border-radius: 5px;
  
}

.info {
  display: flex;
  justify-content: center;
}

.info-left, .info-right {
  text-align: left;
  padding: 10px;
  
}

.download-btn {
  background-color:rgb(177, 136, 87);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.download-btn:hover {
  background-color: #a18444;
}
