/* AboutMe.css */
.about-me {
  background-color: rgb(30, 30, 30);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 14px;
  line-height: 1.5;
}

.info-box {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-left, .info-right {
  text-align: left;
  padding: 10px;
  gap:10px;
}

.download-btn {
  background-color:rgb(177, 136, 87);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.download-btn:hover {
  background-color: #a18444;
}
