.navbar{
    background: rgba(181, 98, 21, 0.74);
    height: 4rem;
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
}

.navbar h3{
    color: #50340f;
}

.logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #743508;
}

.desktopMenuListItem:hover{
    color:#2c1a03;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #af772e;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuBtn{
    background: rgb(113, 85, 48);
    color: black;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding:  0  0rem;
    border-radius: 2rem;
    
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    
   
}

.active{
    color: #8B4513;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #8B4513;

}

.mobMenu{
    display:  none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex; 
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
    color: #8B4513;

}
.ListItem{
    color: white;
    padding: 0.5rem  3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30)
}

@media screen and (max-width: 720px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none
    }
}