#intro {
  background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  height: 100vh;
}

.intro-content {
  max-width: 800px;
  padding: 2rem;
}

.intro-heading {
  font-size: 1rem;
  font-weight: bold;
  color:rgb(224, 193, 154) /* Dark text color */
}

.intro-name {
  font-size: 3rem;
  font-family:'Times New Roman', Times, serif;
  color:#8B4513; /* Custom name color (yellow) */
}

.intro-role {
  font-size: 2rem;
  font-weight: bold;
  color:#c9a372 ; /* Primary color for the role */
  margin-top: 1rem;
  
}

.intro-description {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #222121; /* Medium text color */
}



.btn-img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* Animation for intro-role */
.intro-content:hover .intro-role {
  opacity: 1; /* Show the role on hover */
  transform: translateY(0); /* Reset position on hover */

}


.container{
  display: flex;
  align-items: center;
  justify-content:center ;
  
  padding: 10 px;
  border-radius: 8px;
  margin-right: 40px;
  color: #c9a372;
  
}


.icons-container{
  display: flex;
  gap:10px;
}

.icon{
  color: #c9a372;
  
  padding: 10px;


}

@media screen and (max-width:370px) {
  .introContent {
      font-size: 2.5rem;
      margin: 0;

  }

  .introTitle {
      font-size: 2.5rem;
  }
}

@media screen and (max-width:450px) {
  .introContent {
      margin: 0;

  }
}