#intro {
  background-image: url('https://e0.pxfuel.com/wallpapers/846/344/desktop-wallpaper-portfolio-thumbnail.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  height: 100vh;
}

.intro-content {
  max-width: 800px;
  padding: 2rem;
}

.intro-heading {
  font-size: 1rem;
  font-weight: bold;
  color:rgb(224, 193, 154); /* Dark text color */
}

.intro-name {
  font-size: 3rem;
  font-family:'Times New Roman', Times, serif;
  color:#8B4513; /* Custom name color (yellow) */
}

.intro-role {
  font-size: 2rem;
  font-weight: bold;
  color:#c9a372; /* Primary color for the role */
  margin-top: 1rem;
}

.intro-description {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #666; /* Medium text color */
}

.btn-img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* Animation for intro-role */
.intro-content:hover .intro-role {
  opacity: 1; /* Show the role on hover */
  transform: translateY(0); /* Reset position on hover */
}

.container {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 10px;
  border-radius: 8px;
  margin-right: 40px;
  color: #c9a372;
}

.icons-container {
  display: flex;
  gap:10px;
}

.icon {
  color: #c9a372;
  padding: 10px;
}

/* Media queries for mobile view */
@media (max-width: 768px) {
  #intro {
    height: auto;
    padding: 1rem;
  }

  .intro-content {
    max-width: 100%;
    padding: 1rem;
  }

  .intro-heading {
    font-size: 0.8rem;
  }

  .intro-name {
    font-size: 2rem;
  }

  .intro-role {
    font-size: 1.5rem;
  }

  .intro-description {
    font-size: 1rem;
  }

  .btn-img {
    height: 1rem;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .icons-container {
    gap: 5px;
  }

  .icon {
    padding: 5px;
  }
}
