.Footer {
  background-color:rgba(181, 98, 21, 0.74);
  height: 4rem;
  color: #fff;
  padding: 0.25rem ;
  text-align: center;
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
  
}

.footerContent p {
  margin: 0.5rem 0;
  color: white;
}

.footerContent a {
  color: #fff;
  text-decoration: none;
}